table {
    width: 90%;
    border-collapse: collapse;
    font-size: 12px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 6px;
}

table th {
    background-color: #F2F2F2;
}

.center {
    text-align: center;
}

.shop-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.shop-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    flex: 1 1 calc(33.333% - 32px);
    /* 3 columns */
    box-sizing: border-box;
    margin-bottom: 16px;
}

.shop-card h2 {
    margin-top: 0;
}

@media (max-width: 1200px) {
    .shop-card {
        flex: 1 1 calc(50% - 32px);
        /* 2 columns */
    }
}

@media (max-width: 768px) {
    .shop-card {
        flex: 1 1 100%;
        /* 1 column */
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.button-container {
    display: flex;
    margin-top: 15px;
    gap: 8px;
}

.button-container .btn {
    margin-left: 8px;
}

.text-orange {
    color: orange;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    width: calc(33.333% - 30px);
    box-sizing: border-box;
    margin-bottom: 15px;
}

/* コンテナ幅 */
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 480px;
}

/* テキストの両側に線 */
.head-border {
    display: flex;
    align-items: center;
    color: #666;
}

.head-border:before,
.head-border:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #666;
}

.head-border:before {
    margin-right: 1rem;
    background: linear-gradient(-90deg,#666, transparent);
}

.head-border:after {
    margin-left: 1rem;
    background: linear-gradient(90deg, #666, transparent);
}

