<!DOCTYPE html><!-- /shop/list -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head_fragment(title = 'ショップ一覧', scripts = ~{::script}, links = ~{::link})">
    <div class="container">
        <div class="header">
            <title>ショップ一覧</title>
            <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
            <link rel="stylesheet" th:href="@{/css/list.css}">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>ショップ一覧</h1>
            <div class="button-container">
                <a th:href="@{/shop/mypage}" class="btn btn-primary">マイページ</a>
                <a th:href="@{/shop/add}" class="btn btn-outline-primary">新規ショップ登録</a>
                <a th:href="@{/logout}" class="btn btn-secondary">ログアウト</a>
            </div>
        </div>
        <div class="shop-container">
            <div th:each="shop : ${shoplist}" class="shop-card">
                <h2>
                    <a th:href="@{/shop/{id}(id=${shop.id})}" class="btn btn-outline-info" th:text="${shop.name}"></a>
                </h2>
                <p th:text="${shop.description}"></p>
                <p th:if="${shop.user.id == loggedInUserId}" class="text-orange">あなたのショップです。</p>
            </div>
        </div>
    </div>
</body>

</html>
	